@using System.Text
@using System.Text.Json
@using EventsManager.Shared.Dtos
@using EventsManager.Client.Components.ImageUploader
@using Microsoft.AspNetCore.Authorization

@inject HttpClient Http
@inject IToastService ToastService

@attribute [Authorize(Roles = "User")]


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        @if (User?.ImageUrl != null)
                        {
                            <img class="user-image-picture rounded-circle mb-4" src="@($"{User.ImageUrl}?v={_imageUpdateCount}")" alt="User image"/>
                        }
                    </div>
                    <ImageUploader Type="ImageUploader.ImageType.User" ImageUrl="@User?.ImageUrl" RefreshInformation="GetUserInformation" />
                    <FluentDivider></FluentDivider>
                    <h4 class="card-title text-center mb-4">Basic information</h4>
                    <form>
                        <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" value="@User?.Email" readonly />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">User name</label>
                                <input type="text" class="form-control" value="@User?.UserName" readonly />
                            </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code { 
    [Parameter]
    public UserDto? User { get; set; }

    private bool ReadOnly { get; set; } = true;
    
    private int _imageUpdateCount = 0;

    private async Task GetUserInformation()
    {
        User = await Http.GetFromJsonAsync<UserDto>("User");
        _imageUpdateCount++;
    }
}

<style>
    .card-title{
        margin-top: 10px;
    }

     .user-image-picture {
            width: 150px; /* Adjust the width as needed */
            height: 150px; /* Adjust the height as needed */
            border-radius: 50%;
            object-fit: cover; /* This ensures the image is scaled properly */
            margin: 0 auto 20px; /* Add margin at the bottom */
            display: block; /* This centers the image horizontally */
        }
   
    .form-label {
        font-size: 18px;
        color: #333;
        font-weight: 400;
        margin-top: 10px;
    }
    
    .form-control {
        font-size: 16px;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .mb-3 {
        margin-bottom: 30px;
    }
</style>
