@page "/Tournaments"

<div class="coming-soon">
    <h3>Coming soon</h3>
    
    <img src="https://media.tenor.com/4Of0z2b6ZCEAAAAS/padel-wpt.gif" alt="coming soon" />
</div>



@code {
    
}

<style>
    .coming-soon{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>