@page "/Tournaments"

@using EventsManager.Client.Components.Tournaments

@*<AuthorizeView>
    <Authorized>
        <CreateTournamentModal Show="_show" DontShow="DontShow"></CreateTournamentModal>
        <div class="actions-tournaments">
            <Button Clicked="OpenCreateTournamentModal" Size="Size.Small" Color="Color.Success">Create a tournament</Button>
        </div>
    </Authorized>
</AuthorizeView> //TODO: Temporarlly disabled*@

<Divider></Divider>
<AllTournaments></AllTournaments>

@code {
    private bool _show;

    private void OpenCreateTournamentModal()
    {
        _show = true;
    }

    private void DontShow()
    {
        _show = false;
    }
}   

<style>
    .actions-tournaments{
        display: flex;
        margin-bottom: 10px;
    }
</style>