@page "/Tournaments"

@using EventsManager.Client.Components.Tournaments
@using EventsManager.Client.Components.Modals
@using Color = Blazorise.Color

<div class="actions-tournaments">
    <Button Clicked="OpenCreateTournamentModal" Size="Size.Small" Color="Color.Success">Create a tournament</Button>
</div>

<Divider></Divider>
<AllTournaments></AllTournaments>

<CreateTournamentModal Show="_show" DontShow="DontShow"></CreateTournamentModal>

@code {
    private bool _show;

    private void OpenCreateTournamentModal()
    {
        _show = true;
    }

    private void DontShow()
    {
        _show = false;
    }

    private void RefreshTournaments()
    {
        throw new NotImplementedException();
    }

}   

<style>
    .actions-tournaments{
        display: flex;
        margin-bottom: 10px;
    }
</style>