@page "/players-ranking"

@using EventsManager.Shared.Responses
@using EventsManager.Client.Components.Players

@inject IHttpClientFactory HttpClientFactory
@inject IToastService ToastService

@if (_loading)
{
    <LoadingSpinner></LoadingSpinner>
}
else if(_players != null)
{
    @foreach (var player in _players)
    {
        <PlayerCard Player="player"></PlayerCard>
    }
}
else
{
    <p>There are no players to show.</p>
}

@code {
    private List<PlayerRankingResponse>? _players;
    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        try
        {
            var http = HttpClientFactory.CreateClient("PadelPoint.ServerAPI.Anonymous");
            _players = await http.GetFromJsonAsync<List<PlayerRankingResponse>>("player/ranking");
        }
        catch (Exception)
        {
            ToastService.ShowError("Something went wrong, please try again later.");
        }
        finally
        {
            _loading = false;
        }
    }
}