@page "/"

@inject HttpClient Http

@using EventsManager.Client.Components.User
@using EventsManager.Client.Components.Match
@using EventsManager.Client.Components.Players
@using EventsManager.Client.Components

@using EventsManager.Client.Components.Notifications
@using EventsManager.Shared.Dtos
@using EventsManager.Shared.Responses

<PageTitle>Welcome</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity?.Name! <UserImage></UserImage></h1> Welcome to Padel Point.
         <Notifications></Notifications>
    </Authorized>
    <NotAuthorized>
        <LoginDisplay></LoginDisplay>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        @if (_initialLevelResponse is {Done: false })
        {
            <InitialLevelForm IsDone="@_initialLevelResponse.Done"></InitialLevelForm>
        }
        @if (_announcementDevelopmentResponse is {Done: false })
        {
            <DevelopmentVersionAnnouncement IsDone="@_announcementDevelopmentResponse.Done"></DevelopmentVersionAnnouncement>
        }
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <PlayerEloProgress></PlayerEloProgress>
    </Authorized>
</AuthorizeView>

<Divider />

<AllMatches></AllMatches>

@code
{
    private AnnouncementDevelopmentResponse? _announcementDevelopmentResponse;
    private InitialLevelIsDoneResponse? _initialLevelResponse;
    
    protected override async Task OnInitializedAsync()
    {
        await GetInfo();    
    }
    
    private async Task GetInfo()    
    {
        try
        {
            var response = await Http.GetAsync("Announcement/initial-level-done");

            if (response.IsSuccessStatusCode)
            {
                _initialLevelResponse = await response.Content.ReadFromJsonAsync<InitialLevelIsDoneResponse>();
            }
            else
            {
              
            }
        }
        catch (Exception)
        {
            // ignored
        }
        
        try
        {
            var response = await Http.GetAsync($"Announcement/development-announcement-read-it");

            if (response.IsSuccessStatusCode)
            {
                _announcementDevelopmentResponse = await response.Content.ReadFromJsonAsync<AnnouncementDevelopmentResponse>();
            }
            else
            {
              
            }
        }
        catch (Exception)
        {
    // ignored
        }
    }
}
    