@page "/"

@using EventsManager.Client.Components.User
@using EventsManager.Client.Components.Match
@using EventsManager.Client.Components.Players

<PageTitle>Welcome</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity?.Name! <UserImage></UserImage></h1> Welcome to Padel Point.
    </Authorized>
    <NotAuthorized>
        <h1>Hello, anonymous user! Please register or log in ;)</h1> Welcome to Padel Point.
    </NotAuthorized>
</AuthorizeView>

<FluentDivider></FluentDivider>

<PlayerEloProgress></PlayerEloProgress>

<FluentDivider></FluentDivider>

<AllMatches></AllMatches>
