@page "/"

@inject HttpClient Http

@using EventsManager.Client.Components.Notifications
@using EventsManager.Client.Components.Match
@using EventsManager.Client.Components.Players
@using EventsManager.Client.Components
@using EventsManager.Client.Components.Banners
@using EventsManager.Shared.Responses

<PageTitle>Welcome</PageTitle>

<AuthorizeView>
    <Authorized>
        <GlobalPlayerNotificationsCard></GlobalPlayerNotificationsCard>
        @* <h2>Hello, @context.User.Identity?.Name! <UserImage></UserImage></h2> Welcome to Serve. TODO:  If not Used check where UserImage is used, if not used delete *@
        @* <Notifications></Notifications> *@
    </Authorized>
    <NotAuthorized>
        <GlobalPlayerNotificationsCard></GlobalPlayerNotificationsCard>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        @if (_announcementDevelopmentResponse is {Done: false })
        {
            <DevelopmentVersionAnnouncement IsDone="@_announcementDevelopmentResponse.Done"></DevelopmentVersionAnnouncement>
        }
    </Authorized>
</AuthorizeView>
<Divider></Divider>
<AuthorizeView>
    <Authorized>
        @if (!_loadingAllData)
        {
            <div>Hours played: @_allData?.TotalHours</div>
            <div>Sets played: @_allData?.Sets</div>
            <div>Points gained: @_allData?.PointsGained</div>
            <div>Points lost: @_allData?.PointsLost</div>
            <div>Matches played: @_allData?.Matches</div>
        }
        <Divider></Divider>
    </Authorized>
</AuthorizeView>

<NineTPadelBanner></NineTPadelBanner>

<AuthorizeView>
    <Authorized>
        <InvitedMatchesNotification></InvitedMatchesNotification>
    </Authorized>
</AuthorizeView>

<AllMatches></AllMatches>

@code
{
    private AnnouncementDevelopmentResponse? _announcementDevelopmentResponse;
    private AllDataResponse? _allData;
    
    private bool _loadingAllData = false;
    
    protected override async Task OnInitializedAsync()
    {
        await GetInfo();    
        await GetAllData();
    }   
    
    private async Task GetInfo()    
    {
        try
        {
            var response = await Http.GetAsync($"Announcement/development-announcement-read-it");

            if (response.IsSuccessStatusCode)
            {
                _announcementDevelopmentResponse = await response.Content.ReadFromJsonAsync<AnnouncementDevelopmentResponse>();
            }
            else
            {
              
            }
        }
        catch (Exception)
        {
    // ignored
        }
    }
    
    private async Task GetAllData()    
    {
        try
        {
            _loadingAllData = true;
            var response = await Http.GetAsync($"Match/all-data");

            if (response.IsSuccessStatusCode)
            {
                _allData = await response.Content.ReadFromJsonAsync<AllDataResponse>();
            }
            else
            {
              
            }
        }
        catch (Exception)
        {
    // ignored
        }
        finally
        {
            _loadingAllData = false;
        }
    }
}
    