@page "/"

@using EventsManager.Client.Components.User
@using EventsManager.Client.Components.Match
@using EventsManager.Client.Components.Players
@using EventsManager.Client.Components

@using EventsManager.Client.Components.Notifications

<PageTitle>Welcome</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity?.Name! <UserImage></UserImage></h1> Welcome to Padel Point.
         <Notifications></Notifications>
    </Authorized>
    <NotAuthorized>
        <LoginDisplay></LoginDisplay>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <DevelopmentVersionAnnouncement></DevelopmentVersionAnnouncement>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <PlayerEloProgress></PlayerEloProgress>
    </Authorized>
</AuthorizeView>

<Divider />

<AllMatches></AllMatches>
