@page "/users-manager"
@using Microsoft.AspNetCore.Authorization
@using EventsManager.Client.Components.User

@inject HttpClient Http
@inject IToastService ToastService
@inject IMessageService MessageService

@attribute [Authorize(Roles = "Administrator")] 

<h3>Users Manager</h3>
<FluentDivider></FluentDivider>
<FluentDivider></FluentDivider>
<UsersList></UsersList>

@code {


}
