@inject HttpClient Http
@inject IToastService ToastService
@inject NavigationManager Navigation

<Button @onclick="SetDone" disabled="@_loading">Done</Button>

@code{
  
    private bool _loading = false;
    
    private async Task SetDone()
    {
        try
        {
            _loading = true;
            var response = await Http.PostAsync("Announcement/initial-level-done", null);
            if (!response.IsSuccessStatusCode)
            {
                var error = await response.Content.ReadAsStringAsync();
                ToastService.ShowError(error);
            }
            else
            {
                ToastService.ShowSuccess("You have successfully completed the initial level form.");
                Navigation.NavigateTo("/");
            }
        }
        catch (Exception)
        {
            ToastService.ShowError("Something went wrong while getting user information.");
        }
        finally
        {
            _loading = false;
        }
    }
}