@using EventsManager.Shared.Responses
@using EventsManager.Client.Components.Match
@using Color = Blazorise.Color

@if (!Tournament.ShowBrackets)
{
    <Alert Style="margin-top: 10px" Color="Color.Info" Visible>
        <AlertMessage>Competition view disabled</AlertMessage>
        <AlertDescription>Right now the competition view is disabled by an admin, will be enabled soon.</AlertDescription>
    </Alert>
}
else
{
    <div>
        @foreach (var match in Tournament.RoundRobinPhaseMatches)
        {
            <TournamentMatch Match="@match"></TournamentMatch>
        }
    </div>
}

@code {
    [Parameter]
    public TournamentDetailResponse? Tournament { get; set; }
    
}