@using Blazored.Toast.Configuration
@using EventsManager.Shared.Responses
@using Color = Blazorise.Color

@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject HttpClient Http
@using EventsManager.Client.Components

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <Alert Color="Color.Danger" Visible>
                        <AlertMessage>Error</AlertMessage>
                        <AlertDescription>Something went wrong. Please try again later.</AlertDescription>
                        <Button Color="Color.Primary" Clicked="GoToMainPage">Go to main page</Button>
                    </Alert>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

<AuthorizeView>
    <Authorized>
        @if (_initialLevelResponse is {Done: false })
        {
            <InitialLevelForm IsDone="@_initialLevelResponse.Done"></InitialLevelForm>
        }
    </Authorized>
</AuthorizeView>

<BlazoredToasts MaxToastCount="2" Timeout="2" ShowCloseButton="false" ShowProgressBar="true" Position="ToastPosition.TopCenter" RemoveToastsOnNavigation="true" />

@code
{
    private InitialLevelIsDoneResponse? _initialLevelResponse;
    
    private void GoToMainPage()
    {
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
    
    protected override async Task OnInitializedAsync()
    {
        await GetInitialLevelInfo();    
    }
    
    private async Task GetInitialLevelInfo()    
    {
        try
        {
            var response = await Http.GetAsync("Announcement/initial-level-done");

            if (response.IsSuccessStatusCode)
            {
                _initialLevelResponse = await response.Content.ReadFromJsonAsync<InitialLevelIsDoneResponse>();
            }
        }
        catch (Exception)
        {
            // ignored
        }
    }
}
