@using Blazored.Toast.Configuration
@using Color = Blazorise.Color

@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <Alert Color="Color.Danger" Visible>
                        <AlertMessage>Error</AlertMessage>
                        <AlertDescription>Something went wrong. Please try again later.</AlertDescription>
                        <Button Color="Color.Primary" Clicked="GoToMainPage">Go to main page</Button>
                    </Alert>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

<BlazoredToasts MaxToastCount="2" Timeout="2" ShowCloseButton="false" ShowProgressBar="true" Position="ToastPosition.TopCenter" RemoveToastsOnNavigation="true" />

@code
{
    private void GoToMainPage()
    {
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}
