@using Color = Blazorise.Color
@using IconSize = Blazorise.IconSize

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="logo-nav-menu.png" alt="" style="width: 35px"/> SERVE - Sport Event Registration & Versus Engine</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Class="icon" Name="IconName.Home"/> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="players-ranking" Match="NavLinkMatch.All">
                <Icon Class="icon" Name="IconName.Users"/> Ranking
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tournaments" Match="NavLinkMatch.All">
                <Icon Class="icon" Name="IconName.ChevronUp"/> Tournaments
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="create-match" Match="NavLinkMatch.All">
                        <Icon Class="icon" Name="IconName.PlusCircle"/> Create a Match
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="my-matches" Match="NavLinkMatch.All">
                        <Icon Class="icon" Name="IconName.Running"/> My Matches
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="account" Match="NavLinkMatch.All">
                        <Icon Class="icon" Name="IconName.User"/> Account
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users-manager" Match="NavLinkMatch.All">
                        <Icon Class="icon" Name="IconName.Compass"/> Users manager
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="matches-manager" Match="NavLinkMatch.All">
                        <Icon Class="icon" Name="IconName.Utensils"/> Matches manager
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="suggestions" Match="NavLinkMatch.All">
                        <Icon Class="icon" Name="IconName.Mail"/> Suggestions
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="suggestions-manager" Match="NavLinkMatch.All">
                        <Icon Class="icon" Name="IconName.Mail"/> Suggestions manager
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documentation" Match="NavLinkMatch.All">
                <Icon Class="icon" Name="IconName.Book"/> Documentation
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;
   
    
    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}

<style>
    .icon {
        margin-right: 5px;
    }

</style>
