<div class="border match-card skeleton" style="position: relative;">
    <div class="placeholder-stamp"></div>
    <div class="placeholder-line" style="width: 100%; height: 12px;"></div>
    <FluentDivider></FluentDivider>
    <div style="width: 60%; float: left; margin-bottom: 20px;">
        <div class="placeholder-line" style="width: 50%; height: 14px;"></div>
        <div class="placeholder-line" style="width: 50%; height: 14px;"></div>
    </div>
    <div style="width: 40%; float: right; text-align: right;">
        <div class="placeholder-line" style="width: 100%; height: 12px;"></div>
        <div class="placeholder-line" style="width: 100%; height: 12px;"></div>
    </div>
    <div style="position: absolute; bottom: 10px; left: 10px;">
        <div class="placeholder-line" style="width: 100px; height: 10px;"></div>
    </div>
    <div style="clear: both;"></div>
</div>

@code {
    
}