<div>
     <div class="loading-spinner">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
</div>

<style>
    .loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1050;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */
    }
    
    .spinner-border {
        width: 3rem;
        height: 3rem;
        border-color: #007bff;
        border-right-color: transparent;
    }
</style>
