
<div class="border match-detail-skeleton">
    <div class="placeholder-line"></div>
    <FluentDivider></FluentDivider>
    <div class="placeholder-line"></div>
    <div class="placeholder-line"></div>
    <div class="placeholder-line"></div>
</div>
<div class="border match-detail-skeleton">
    <div class="placeholder-line"></div>
</div>
<div class="border match-detail-skeleton">
    <div class="placeholder-line"></div>
    <div class="placeholder-line"></div>
    <div class="placeholder-line"></div>
</div>

@code {
    
}
