<div class="border player-card-skeleton">
    <div class="placeholder-avatar"></div>
    <div class="player-info-skeleton">
        <div class="placeholder-line" style="width: 100%; height: 14px;"></div>
        <div class="placeholder-line" style="width: 100%; height: 14px;"></div>
        <div class="placeholder-line" style="width: 100%; height: 14px;"></div>
    </div>
</div>

@code {
    
}