@using EventsManager.Shared.Dtos
@using Microsoft.AspNetCore.Authorization
@using System.Net.Http.Headers
@using EventsManager.Shared
@using System.Drawing

@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService ToastService

@attribute [Authorize(Roles = "User")] 

<div class="user-image-container text-center">
    @if (ImageUrl == null)
    {
        if (_requestingUploadImage)
        {
            <div class="d-flex justify-content-center">
                <FluentProgressRing></FluentProgressRing>
            </div>
        }
        <div class="input-file-container">
            Player image
            <InputFile OnChange="@OnInputFileChange" class="form-control">Select a picture, Max size 2MB</InputFile>
            <span class="text-danger">@_errorMessage</span>
        </div>
    }
    @if (ImageUrl != null)
    {
       
            @if (!_requestingDeleteImage)
            {
                <FluentButton Appearance="Appearance.Accent" @onclick="DeleteImage">Delete image</FluentButton>
            }
            else
            {
                <FluentButton Disabled="true" Appearance="Appearance.Accent" @onclick="DeleteImage">Deleting...</FluentButton>
            }
       
    }
</div>

@code {
    [Parameter]
        public Uri? ImageUrl { get; set; } 
    
    [Parameter]
    public ImageType? Type { get; set; }
    
    [Parameter]
    public Guid? EventId { get; set; }
    
    private int _imageUpdateCount = 0;
    
    [Parameter]
    public EventCallback RefreshInformation { get; set; }
    
    private string? _errorMessage = null;
    
    string[] _imageTypes = new[] { "image/jpeg", "image/png", "image/gif", "image/jpg" };
    
    private bool _requestingDeleteImage; 
    private bool _requestingUploadImage;         
    
    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        _requestingUploadImage = true;
        _errorMessage = null;
        using var content = new MultipartFormDataContent();

        if (!_imageTypes.Contains(e.File.ContentType))
        {
            _errorMessage = "Only JPEG, JPG, PNG and GIF images are allowed.";
            _requestingUploadImage = false;
            return;
        }
        
        var resizedFile = await e.File.RequestImageFileAsync(e.File.ContentType, 300, int.MaxValue);
        
        var fileContent = new StreamContent(resizedFile.OpenReadStream());
        fileContent.Headers.ContentType = new MediaTypeHeaderValue(resizedFile.ContentType);
        
        content.Add(content: fileContent, name: "\"file\"", fileName: resizedFile.Name);

        if (Type == ImageType.Event)
        {
            await Http.PostAsync($"Event/{EventId}/image", content);
        }
        if (Type == ImageType.User)
        {
            await Http.PostAsync("User/image", content);
        }
        
        await RefreshInformation.InvokeAsync();
        _imageUpdateCount++;
        _requestingUploadImage = false;
    }
    
    private async Task DeleteImage()    
    {   
        _requestingDeleteImage = true;
        HttpResponseMessage? response;
        if (Type == ImageType.User)
        {
            response = await Http.DeleteAsync("User/image");
        }
        else
        {
            response = await Http.DeleteAsync($"Event/{EventId}/image");
        }

        if (response.IsSuccessStatusCode)
        {
            ToastService.ShowInfo("Image deleted");
        }
        else
        {
            var error = await response.Content.ReadAsStringAsync();
            ToastService.ShowError(error);
        }
        
        await RefreshInformation.InvokeAsync();
        _imageUpdateCount++;
        _requestingDeleteImage = false;
    }   
    
    public enum ImageType
    {
        User,
        Event
    }
}

<style>

.user-image-container{
    margin-bottom: 10px;
}
</style>
