@inject NavigationManager NavigationManager 
@inject IJSRuntime JSRuntime

<div @onclick="Redirect" class="banner-card" style="background-image: url('https://padelpointsblob.blob.core.windows.net/banners/NineTPadelBanner.jpeg')">
</div>

@code {

    private async Task Redirect()
    {
        await JSRuntime.InvokeVoidAsync("open", "https://instagram.com/9t_padel?igshid=MzRlODBiNWFlZA==", "_blank");
    }
}   

<style>
    .banner-card {
        border: 1px;
        border-radius: 8px;
        padding: 10px;
        background-color: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center; 
        min-height: 100px; 
        margin-bottom: 15px;
    }  
</style>
